body{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
     
}
.b{
    background-color: rgba(194, 197, 206, 0.346);
    text-align: center;
    padding: 30px;
    margin: 20px;
    border: 5px solid rgb(139, 183, 73);
    border-radius: 20px;
}
h1{
    border-bottom: 5px solid brown;
    border-radius: 20px;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}